<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <ui-view name="header">加载轮播图片...</ui-view>
            <ui-view name="main">加载中...</ui-view>
        </div>
    </div>
</div>